@model hwmvc.Models.XKCDComic
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>@Model.Title</h2>
    <img src="@Model.Img" />
    <p>WHEN I WAS ON A BOAT I DROPPED MY PHONE CAN U LOOK FOR IT. TODO: Make sure you use some real text here</p>
    <a href="/todo">Previous</a>
</div>
