@model hwmvc.Models.XKCDComic

@Html.Partial("_XkcdComic", Model)

<div class="text-center">
    <a class="btn btn-success" asp-controller="home" asp-action="index">I want to see more comics!</a>
</div>